.movie-list{
	margin-bottom: 3rem;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	justify-items: center;
	position: relative;
	right: 0;
	top: 0;
	@media screen and (max-width: 435px) {
		grid-template-columns:  1fr;
		padding: 0;
	}
}
.wrapper{
	padding: 35px 15px 0;
}