<p-card class="movie__card">
	<ng-template pTemplate="header">
		<div class="movie__header">
			<a [href]="data.link" target="_blank">
				<img [src]="IMAGINE_PATH + data.poster_path" alt="{{ data.title }}" class="locandina">
			</a>
			<h1>{{ data.title }}</h1>
			<h4>{{data.release_date}}</h4>
		</div>
	</ng-template>
	<div class="movie__desc">
		<p class="text">{{ data.overview | limitedSymbols: 120}}</p>
		<p-button type="button" label=" Details" icon="pi pi-info-circle" (click)="navigateWithData()" severity="info" ></p-button>
	</div>
	<ng-template pTemplate="footer">
		<div class="movie__social">
			<ul>
				@if(isInFavorite){
					<p-button label="In" class='btn-list active' icon="pi pi-heart-fill" iconPos="right"/>
				} @else {
					<p-button label="Add to" (click)="addToFavorites()" class="btn-list" [loading]="loadingFavorites" icon="pi pi-heart-fill" iconPos="right"/>
				}
				@if(isInWatchList){
					<p-button label="In" class="btn-list active" icon="pi pi-bookmark-fill " iconPos="right"/>
				} @else {
					<p-button label="Add to" (click)="addToWatchList()" class="btn-list" [loading]="loadingWatchList" icon="pi pi-bookmark-fill" iconPos="right"/>
				}
			</ul>
		</div>
		<div class="rating__wrapper">
			<p class="rating">Rating: {{ data.vote_average }}</p>
			<div class="rating__body">
				<div class="rating__active" [style.width.%] ="ratingPercentage"></div>
				<div class="rating__items">
					@for(star of ratingStars; track ratingStars;) { 
						<input type="radio" class="rating__item" [value]='star' name="rating">
					}
				</div>
			</div>
		</div>
	</ng-template>
	<div class="blur__back">
		<img class="bg-img" [src]="IMAGINE_PATH + data.backdrop_path" alt="{{data.title}}">
		<div class="gradient-overlay"></div>
	</div>
</p-card>
