<p-card class="movie__card">
	<ng-template pTemplate="header">
		<div class="movie__header">
			<a [href]="data.link" target="_blank">
				<img [src]="IMAGINE_PATH + data.poster_path" alt="{{ data.title }}" class="locandina">
			</a>
			<h1>{{ data.title }}</h1>
			<h4>{{data.release_date}}</h4>
		</div>
	</ng-template>
	<div class="movie__desc">
		<p class="text">{{ data.overview | limitedSymbols: 120}}</p>
		<p-button type="button" label=" Details" icon="pi pi-info-circle" (click)="navigateWithData()" severity="info" ></p-button>
		<p class="rating">Rating: {{ data.vote_average }}</p>
	</div>
	<ng-template pTemplate="footer">
		<div class="movie__social">
			<ul>
				@if(isInFavorite){
					<li  class='active' >In<i><span class="pi pi-heart-fill"></span></i></li>
				} @else {
					<li (click)="addToFavorites()" class="btn-list">Add to<i><span class="pi pi-heart-fill"></span></i></li>
				}
				@if(isInWatchList){
					<li class="active">In<i><span class="pi pi-bookmark-fill"></span></i></li>
				} @else {
					<li (click)="addToWatchList()" class="btn-list">Add to<i><span class="pi pi-bookmark-fill"></span></i></li>
				}
			</ul>
		</div>
	</ng-template>
	<div class="blur__back">
		<img class="bg-img" [src]="IMAGINE_PATH + data.backdrop_path" alt="{{data.title}}">
		<div class="gradient-overlay"></div>
	</div>
</p-card>

