$activeGreyColor: rgb(167, 167, 167);
body{
	font-family: 'Montserrat';
}
::ng-deep.action__btns > button{
	color: #f2f2f2;
	font-size: 16px;
	padding: 10px 15px;
	&:hover{
		background-color: $activeGreyColor;
	}
	&:focus{
		background-color: $activeGreyColor;
	}
	> .p-button-icon{
		font-size: 18px;
	}
	@media (max-width: 735px) {
		> .p-button-label {
			display: none;
		}
		> .p-button-icon{
			font-size: 20px;
		}
		padding: 5px
	}
 }
::ng-deep .login-btn > button, .form__button{
	background: rgba(173, 174, 177, 0.9607843137);
	border: none;
	border-radius: 2rem;
	min-width: 103px;
	&:active{
		background-color: #5d5c5c;
	}
	@media (max-width: 735px){
		min-width: 30px;
	}
 }
 ::ng-deep .login-btn.log-out > button {
	min-width: 117px;
	@media (max-width: 735px){
		min-width: 30px;
	}
 }
 .form {
	&__label{
		margin-bottom: 0;
	}
	&__section {
		label{
			display: inline-block;
			font-weight: 600;
			color: #000;
			margin-bottom: 0.3rem;
		}
		input{
			padding: 0.5rem;
			padding-left: 1rem;
			border-radius: 1.3rem;
			width: 100%;
			border: 1px solid #5d5c5c;
		}
		margin: 0 0 1rem 0;
		&-social{
			margin-bottom: 2rem;
		}
		&-confirm{
			margin-top: 1rem;
		}
	}
	&__button {
		font-family: 'Montserrat';
		display: block;
		margin: 0 0 0 0.5rem;
		background-color: #d8d8d8;
		color: #000;
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
		transition: all 0.2s ease-out;
		&:hover{
			background-color: $activeGreyColor;
			color: #f2f2f2;
		}
		&:active{
			background-color: #4a4a4a;
			color: #f2f2f2;
		}
		&-icons{
			display: flex;
			align-items: center;
			font-family: 'Montserrat';
			font-weight: 500;	
			font-size: 16px;
			gap: 0.5rem;
			min-width: 40px;
			height: 40px;
			background: none;
			margin: 10px 0 10px 0;
			border: none;
			cursor: pointer;
			transition: all 0.2s ease-out;
			img{
				transition: all 0.2s ease-out;
				border-radius: 50%;
				box-shadow: 1px 2px 3px #222222;
				width: 40px;
				height: 40px;
			}
			&:hover{
				color: #5d5c5c;
				img{
					box-shadow: 0px 1px 5px #383838;
				}
			}
			p {
				margin: 0;
			}
		}
		&:disabled{
			opacity: 0.5;
			pointer-events: none;
		}
	}
	&__btns{
		display: flex;
		justify-content: end;
	}
 }
 ::ng-deep .form__button-register > button{
		font-family: 'Montserrat';
		display: block;
		padding: 10px;
		font-size: 16px;
		border-radius: 2rem;
		cursor: pointer;
		transition: all 0.2s ease-out;
		background-color: #c3cfe8;
		border: none;
		margin: 0 0 0 0.5rem;
		min-width: 103px;
		span{
			color: #000;
			font-weight: 400;
		}
		&:hover{
			background-color: #98b0e2;
		}
		&:active{
			background-color: #667caa;
			color: #f2f2f2;
		}
 }
 ::ng-deep .form__button-log > button{
	@extend .form__button;
	span{
		font-weight: 400;
		font-family: 'Montserrat';
	}
 }
 .register{
	display: block;
	margin-bottom: 1rem;
 }
.error-message{
	color: red;
	margin-bottom: 8px;
	font-size: 14px;
}
::ng-deep .p-password{
	display: block;
	input{
		padding: 0.5rem;
		padding-left: 1rem;
		border-radius: 1.3rem;
		width: 100%;
		border: 1px solid #5d5c5c;
		transition: all 0.3s ease 0s;
		&:focus{
			display: block;
			margin-bottom: 80px;
		}
	}
}
::ng-deep #confirmPassword{
	input{
		&:focus{
			margin-bottom: 0;
		}
	}
}
::ng-deep .p-dialog-content{
		overflow-y: auto;
}
.green{
	color: green;
}
