<div class="aside-menu__container">
	<ul class="aside-menu__list">
		<li  class="aside-menu__item">
			<a routerLink="now-playing" class="icon">
				<span><i class="pi pi-play-circle" style="color: rgb(89, 133, 92)"></i></span>
			</a>
			<a routerLink="now-playing" class="text" >
				<p>Now playing</p>
			</a>
		</li>
		<li class="aside-menu__item">
			<a routerLink="popular" class="icon">
				<span><i class="pi pi-chart-line" style="color: rgb(236, 200, 90)"></i></span>
			</a>
			<a routerLink="popular" class="text">
				<p>Popular</p>
			</a>
		</li>
		<li class="aside-menu__item">
			<a routerLink="top-rate" class="icon">
				<span><i class="pi pi-star-fill" style="color: rgb(255, 140, 68)"></i></span>
			</a>
			<a routerLink="top-rate" class="text">
				<p>Top rate</p>
			</a>
		</li>
		<li class="aside-menu__item">
			<a routerLink="upcoming" class="icon">
				<span><i class="pi pi-calendar-clock" style="color: rgb(89, 110, 133)"></i></span>
			</a>
			<a routerLink="upcoming" class="text">
				<p>Upcoming</p>
			</a>
		</li>
	</ul>
</div>
