<div class="aside-menu__container">
	<ul class="aside-menu__list">
		@for(link of links; track link){
			<li class="aside-menu__item"  routerLinkActive='active-link' [routerLinkActiveOptions]="{exact: true}">
				<a [routerLink]="link.url" class="icon">
					<span><i [class]="link.icon" [style]="link.color"></i></span>
				</a>
				<a [routerLink]="link.url" class="text" >
					<p>{{link.name}}</p>
				</a>
			</li>
		}
			<li class="aside-menu__item-interactions"><app-sorting></app-sorting></li>
	</ul>
</div>
