@if(movie){
<p-card class="movie__card movie__card-detail">
		<ng-template pTemplate="header">
			<h1>{{ movie.title }}</h1>
			<div class="movie__header">
				<img [src]="IMAGINE_PATH + movie.poster_path" alt="{{ movie.title }}" class="locandina">
				<div class="header__aside">
					<p><span class="rating">Genres:</span> "{{this.genres}}"</p>
					@if(website){
						<a [href]="website" class="movie__url" target="_blank">Website page</a>
					}
					<p-divider/>
					<p><span class="rating">Released:</span> {{movie.release_date}}</p>
					<p><span class="rating">Duration:</span> {{movie.runtime | numberDurationFormat}}</p>
					<p> <span class="rating">Original language:</span> "{{this.originalLanguages}}"</p>
					<p-divider/>
					<p><span class="rating">Rating:</span> {{movie.vote_average}}</p>
					<div class="rating__body">
						<div class="rating__active" [style.width.%] ="ratingPercentage"></div>
						<div class="rating__items">
							@for(star of ratingStars; track ratingStars;) { 
								<input type="radio" class="rating__item" [value]='star' name="rating">
							}
						</div>
					</div>
					<p><span class="rating">Popularity:</span> {{movie.popularity}}</p>
					<p><span class="rating">Budget:</span> {{movie.budget | budgetNumberFormat}}$</p>
					<p><span class="rating">Country:</span> "{{this.countries}}"</p>
					<p-toast/>
					<p-confirmPopup/>
					<div class="buttons">
						@if(isInFavorite){
							<p-button label="In Favorites" class="btn-list" icon="pi pi-heart-fill" iconPos="right" severity="success" [disabled]="true"/>
						} @else {
							<p-button (onClick)="addToFavorites($event)" label="Add To Favorites" [loading]="loadingFavorites"/>
						}
						@if(isInWatchList){
							<p-button label="In Watch List" class="btn-list" icon="pi pi-heart-fill" iconPos="right" severity="success" [disabled]="true"/>
						} @else {
							<p-button (onClick)="addToWatchList($event)" label="Add To Watch List" [loading]="loadingWatchList"/>
						}
					</div>

				</div>
			</div>
			<div class="companies-wrapper">
			<h3>Production Companies:</h3>
				@for(company of movie.production_companies; track movie.production_companies){
					<div class="company__container">
						@if(company.logo_path != null) {
							<img class="company__logo" [src]="IMAGINE_PATH + company.logo_path" alt="{{company.name}}">
						}
						 <p>{{company.name}}</p>
					</div>
				}
			</div>
			</ng-template>
		<div class="movie__desc movie__desc-detail">
			<div class="media">
				<h4 class="media__title">Media</h4>
				<p-tabView>
					<p-tabPanel header="Pictures">
						<div class="media__carousel">
							<app-carousel 
								[id]="movieId"
								[category]="picturesCategory"
							></app-carousel>
						</div>
					</p-tabPanel>
					<p-tabPanel header="Videos">
						<app-carousel
							[id]="movieId"
							[category]="videosCategory"
						>
						</app-carousel>
					</p-tabPanel>
				</p-tabView>
			</div>
			<h3>Description</h3>
			<p class="text">{{ movie.overview }}</p>
		</div>
		<div class="blur__back blur__side">
			<img class="bg-img" [src]="IMAGINE_PATH + movie.backdrop_path" alt="{{movie.title}}">
		</div>
	</p-card>
}
@if(!movie){
	<p>Loading...</p>
}