h1{
	font-size: clamp(1rem, -0.078rem + 5.39vw, 5.313rem);
	letter-spacing: -1px;
	line-height: 0.9;
	padding: 2rem;
	margin: 0;
}
.movie__header{
	display: flex;
	justify-content: start;
	align-items: flex-start;
	gap: 25px;
	padding: 1.25rem;
	padding-bottom: 0;
	@media screen and (max-width: 1100px) {
		display: block;
		h1{
			margin-top: 2rem;
		}
	}
}
.header__aside{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.companies-wrapper{
	margin-top: 20px;
	padding: 0 1.25rem;
	display: flex;
	column-gap: 20px;
	flex-wrap: wrap;
}
.company{
	&__container{
		display: flex;
		align-items: center;
		gap: 5px;
	}
	&__logo{
		max-width: 60px;
		width: 100%;
		object-fit: cover;
		position: relative;
	}
}
//body============================================================
.movie__card-detail{
	max-width: 1200px;
	padding: 0 15px;
	box-shadow: none;
	&:hover{
		transform: scale(1);
		box-shadow: none;
	}
	.p-card-header{
		height: auto;
		text-align: center;
	}
	.p-card-body{
		height: auto;
	}
}
.movie__url{
	font-style: italic;
	color: #545454;
	font-size: 18px;
	font-family: 'Montserrat';
	transition: color 0.3s ease-out;
	font-weight: 500;
	&:hover{
		color: #1b1a1a;
	}
}
.media__title{
	font-size: 20px;
}
.rating{
	margin-bottom: 10px;
	font-weight: 600;
}

.locandina{
	width: -webkit-fill-available;
	max-width: 500px;
	display: block;
	object-fit: contain;
}
.blur__back{
	display: flex;
	justify-content: center;
	align-content: center;
}
.bg-img {
	width: -webkit-fill-available;
	object-fit: cover;
	max-width: 700px;
}
::ng-deep.p-card .p-card-content{
	padding: 0;
}
.buttons{
	padding: 20px 0;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
//Rating======================================================================

.rating {
	display: flex;
	align-items: flex-end;
	line-height: 1;
	&__body {
		width: 290px;
		position: relative;
		&:before {
			font-size: 28px;
			content: "★★★★★★★★★★";
			display: block;
		}
		@media screen and (max-width: 380px) {
			width: 230px;
			&:before{
				font-size: 22px;
			}
		}
	}
	&__active {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		&:before {
			font-size: 28px;
			content: "★★★★★★★★★★";
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			color:rgb(220, 117, 52);
		}
		@media screen and (max-width: 380px) {
			&:before{
				font-size: 22px;
			}
		}
	}
	&__items {
		 position: absolute;
		 height: 100%;
		 width: 100%;
		 top: 0;
		 left: 0;
	}
	&__item {
		cursor: pointer;
		flex: 0 0 10%;
		opacity: 0;
		height: 100%;
	}
	&__value {
		font-size: 50%;
		padding: 0 0 0 10px;
		line-height: 1;
		color: #545454;
		font-weight: 600;
	}
}
.p-card-footer{
	display: flex;
	justify-content: space-between;
}