<div class="wrapper">
	<div class="header">
		<h1 class="header__title">Welcome to movie service "Litis"</h1>
	</div>
	<div class="movie__card">
		@for(link of links; track link) {
			<a [routerLink]="link.url" class="movie__item">
				<div class="movie__icon" [class]="link.icon" [style]="link.color"></div>
				<div class="movie__category">{{link.name}}</div>
			</a>
		}
	</div>
	@if(movies){
		<app-carousel-movie-list 
			[movies]="movies"
			[autoplay]="4000"
			[title]="carousel__title"
		/>
}
	<div class="blur__back">
		<img class="bg-img" [src]="IMAGINE_PATH" alt="{{imgTitle}}">
	</div>
</div>
