/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;background: none;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
header{
	position: fixed;
	width: 100%;
	height: 95px;
		background: linear-gradient(to bottom, #f0eeeebc 75%, transparent 100%);
		// background-color: #f0eeeebc;

	z-index: 5;
	@media  screen and (max-width: 770px) {
		height: 85px;
	}
}
main{
	padding: 110px 10px 0 200px !important;
	// display: flex;
	// justify-content: space-between;
	padding: 10px;
	@media screen and (max-width: 989px){
		padding-left: 45px !important;
	}
}
.main-content {
	// flex: 1;
	position: relative;
}
.aside {
	position: fixed;
	top: 110px;
	left: 0px;
	width: 200px;
	@media screen and (max-width: 989px) {
		width: 50px;
		top: 155px;	
		left: 0;
	}
	@media screen and (max-width: 770px){
		top: 135px;
	}
}
