@import '../../app.component.scss';

.header {
  &__container {
	height: 100%;
  }
  &__list {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12rem;
	@media  screen and (max-width: 735px) {
		justify-content: center;
		gap: 30px;
	}
  }
	&__item >*{
		display: flex;
		align-items: center;
		gap: 7px;
		font-weight: 500;
		font-size: 20px;
		line-height: 2;
		color: #f2f2f2;
		transition: color 0.3s ease-out 0s;
		&:hover{
			color: rgb(215, 142, 5);
		}
	}
	&__item i {
		font-size: 20px;
		font-weight: 400;
	}
}
@media  screen and (max-width: 635px) {
		.header__item p{
			display: none;
		}
		.header__item i{
			font-size: 25px;
		}
		.header__list{
			gap: 30px;
			justify-content: end;
			padding-right: 30px;
		}
	}