<div class="wrapper">
	<h1>Favorite List</h1>
	<div class="movie-list">
		@for (movie of favoriteMovies; track movie.id) {
			<div class="list__item">
				<app-movie-card
					[data]="movie"
					style="display: block; max-width: 430px; width: 100%;">
				</app-movie-card>
				<p-button  class="list__button" (click)="deleteFromFavorites(movie)" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" [loading]="isLoading[movie.id]"/>
			</div>
		} @empty {
			{{emptyFavoriteList}}
		}
	</div>
</div>
