$activeGreyColor: rgb(167, 167, 167);

.header {
  &__container {
	display: flex;
	justify-content: space-between;
	height: 65px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
  }
  &__list {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10rem;
	@media  screen and (max-width: 835px) {
		justify-content: center;
		gap: 30px;
	}
  }
	&__item{
		padding: 7px 10px;
		border-radius: 7px;
		display: flex;
		align-items: center;
		gap: 7px;
		font-weight: 500;
		font-size: 20px;
		line-height: 2;
		color: #f2f2f2;
		transition: all 0.3s ease-out 0s;
		cursor: pointer;
		&:hover{
			color: rgb(215, 142, 5);
			background-color: $activeGreyColor;
		}
		&:focus{
			color: rgb(215, 142, 5);
			background-color: rgb(226 226 226);
		}
		p{
			margin: 0;
		}
	}
	&__item i {
		font-size: 20px;
		font-weight: 400;
	}
}
@media  screen and (max-width: 735px) {
		.header__item p{
			display: none;
		}
		.header__item i{
			font-size: 25px;
		}
		.header__list{
			gap: 15px;
			justify-content: end;
		}
	}
	@media (max-width: 360px){
		.header__list{
			gap: 5px;
		}
	}
.header {
  &__logo {
	img{
		height: 46px;
		width: 46px;
	}
	padding: 2px;
	padding-left: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
  }
}
h1{
	color: black;
	text-decoration: none;
	font-weight: 700;
	font-size: 25px;
}
a{
	text-decoration: none;
}
.action{
	display: flex;
	align-items: center;
	padding: 10px;
	@media (max-width: 735px){
		gap: 0px;
		padding-right: 15px;
	}
}
.search__container{
	position: relative;
}
.p-inputtext{
	padding: 0.5rem;
	padding-left: 3rem;
	border-radius: 1.3rem;
	display: inline-block;
	width: 100%;
}
::ng-deep.btn-input{
	position: absolute;
	top: 0;
	left: 0;
	width: 3rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	>button{
		color: #000;
	}
}
.search__wrapper{
	width: 325px;
}
::ng-deep.action__btns > button{
	color: #f2f2f2;
	font-size: 16px;
	&:hover{
		background-color: $activeGreyColor;
	}
	&:focus{
		background-color: $activeGreyColor;
	}
	> .p-button-icon{
		font-size: 18px;
	}
	@media (max-width: 735px) {
		> .p-button-label {
			display: none;
		}
		> .p-button-icon{
			font-size: 20px;
		}
		padding: 5px;
	}
 }
 ::ng-deep .login-btn > button{
	background: none;
	border: none;
	border-radius: 2rem;
	min-width: 110px;
	&:active{
		background-color: #5d5c5c;
	}
	@media (max-width: 735px){
		min-width: 30px;
	}
 }

.action__label{
	width: 500px;
}
.search {
	&__results {
		padding: 0;
		padding-top: 10px;
		margin: 0;
	}
	&__item {
		transition: background-color 0.3s ease-out 0s;
		p{
			margin: 0 !important;
		}
		border-bottom: 1px solid $activeGreyColor;
		list-style: none;
		padding: 15px 5px 15px 40px;
		cursor: pointer;
		&:hover{
			background-color: $activeGreyColor;
		} 
		&-title{
			color: #000;
		}
		&-rating{
			position: relative;
			padding: 0 3px;
			color: #f2f2f2;
			font-weight: 600;
			font-size: 13px;
			&:before{
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				border-radius: 12px;
			}
		}
		&-rating.low-rating{
			background-color: rgb(195, 19, 19);
		}
		&-rating.medium-rating{
			background-color: $activeGreyColor;
		}
		&-rating.high-rating{
			background-color: rgb(27, 70, 27);
		}
		&-total{
			border-bottom: none;
			padding: 5px 5px 5px 0;
			background-color: #545454;;
			color: #f2f2f2;
			text-align: center;
			font-weight: 600;
			> a {
				display: block;
			}
		}
	}
 }
 ::ng-deep .p-confirm-popup-footer > button{
	font-size: 14px;
	i{
		font-size: 14px;
		padding-right: 3px;
	}
 }
 ::ng-deep .p-confirm-popup-content {
	.ng-star-inserted{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		i{
			font-size: 4rem;
			color: #ee4f4f;
		}
		.pi-question-custom{
			color: #3B82F6;;
		}
	}
 }

 