<div class="header__container">
	<div class="header__logo-container">
		<a routerLink='' class="header__logo">
			<img src="../../../assets/img/favicon.svg" alt="logo">
			<h1>Litis</h1>
		</a>
	</div>
	<nav class="header__list">
		@if(isLoggedIn){
			<a routerLink="/favorites" class="favorites header__item">
				<i class="pi pi-heart-fill"></i>
				<p>Favorites</p>
			</a>
			<a routerLink="/watch-list" class="watch-list header__item">
				<i class="pi pi-bookmark-fill"></i>
				<p>Watch list</p>
			</a>
		} @else {
			<a class="favorites header__item" (click)="tryAccessWithoutAuthorization($event)">
				<i class="pi pi-heart-fill"></i>
				<p>Favorites</p>
			</a>
			<a class="watch-list header__item" (click)="tryAccessWithoutAuthorization($event)">
				<i class="pi pi-bookmark-fill"></i>
				<p>Watch list</p>
			</a>
		}
	</nav>
	<div class="action">
		<p-button 
			(onClick)="openOverplay($event)"
			[text]="true" 
			rounded="true" 
			icon="pi pi-search" 
			label="Search" 
			class="action__btns btn-search"/> 
		<p-overlayPanel #op  [style]="{ width: '100%' }">
			<div class="search__container">
				<form action="" (ngSubmit)="onEnterPress($event)">
					<input pInputText id="search" #searchInput [formControl]="searchControl" autocomplete="on"/>
					<p-button [rounded]="true" [text]="true" icon="{{isLoading ? 'pi pi-spinner pi-spin' : 'pi pi-search'}}" class="btn-input"/>
				</form>
			</div>
			<ul class="search__results">
				@for(movie of moviesFromSearch | slice:0:5; track moviesFromSearch){
					<li class="search__item" (click)="navigateWithData(movie.id, $event)">
						<p><span class="search__item-title">{{movie.title}}</span>, {{movie.release_date | extractYearFromDate}}, <span class="search__item-rating" [ngClass]="getMovieRating(movie.vote_average)"> {{movie.vote_average}}</span></p>
					</li>
				}
			</ul>
			@if(numberMoviesFromSearch > 5){
				<div class="search__item search__item-total">
					<a (click)="navigateWithAllSearchResults(searchControl.value)">Show all results ({{numberMoviesFromSearch - 5}} more matches)</a>
				</div>
			}
			@if (!isFindMovie && searchControl.value?.trim().length > 0) {
				<div class="search__item search__item-total">
					<p>{{moviesNotFound}}</p>
				</div>
			}
		</p-overlayPanel>
		<div class="log-reg">
			@if(isLoggedIn){
				<p-confirmPopup>
					<ng-template pTemplate="content" let-message>
						<div class="">
							<i [class]="message.icon" class=""></i>
							<p>{{ message.message }}</p>
						</div>
					</ng-template>
				</p-confirmPopup>
			}
			<p-toast />
			<p-button
				[label]="isLoggedIn ? 'Log Out' : 'Log In'"
				iconPos="right"
				[icon]="isLoggedIn ? 'pi pi-sign-out' : 'pi pi-sign-in'"
				class="action__btns login-btn"
				[class]="isLoggedIn ? 'log-out': ''"
				(onClick)="isLoggedIn ? logOut($event) : showForm()"
			/>
			<app-login-registration></app-login-registration>
		</div>
	</div>
	<p-confirmPopup>
	 <ng-template pTemplate="content" let-message>
		 <div class="">
			 <i [class]="message.icon" class=""></i>
			 <p>{{ message.message }}</p>
		 </div>
	 </ng-template>
	</p-confirmPopup>
</div>