<div class="list__container">
	<div class="list__favorite">
		<h3>Favorite List</h3>
		<ul class="list__list">
			@for (movie of favoriteList; track movie.id; let index = $index) {
				<li class="list__item">
					<button type="button" class="list__button" (click)="deleteFromFavorite(index)"><i><span class="pi pi-times-circle list__button-icon"></span></i></button>
					<a [href]="movie.link" target="_blank" class="poster">
						<img [src]="movie.backdrop_path" [alt]="movie.title" class="locandina center">
					</a>
					<a [href]="movie.link" target="_blank" class="item-link">{{movie.title}}</a>
				</li>
			} @empty {
				{{emptyFavoriteList}}
			}
		</ul>
	</div>
	<div class="list__watch-list">
		<h3>Watch List</h3>
		<ul class="list__list">
			@for (movie of watchList; track movie.id; let i = $index) {
				<li class="list__item">
					<button type="button" class="list__button"(click)="deleteFromWatchList(i)"><i><span class="pi pi-times-circle"></span></i></button>
					<a [href]="movie.link" target="_blank" class="poster">
						<img [src]="movie.backdrop_path" [alt]="movie.title" class="locandina center">
					</a>
					<a [href]="movie.link" target="_blank" class="item-link">{{movie.title}}</a>
				</li>
			} @empty {
				{{emptyWatchList}}
			}
		</ul>
	</div>
</div>

<div class="movie-list">
	@for (movie of movies; track movie) {
		<app-movie-card  
			[data]="movie" 
			[isInFavorite]="isInFavorite(movie)"
			[isInWatchList]="isInWatchList(movie)"
			(addFavorite)="handleAddFavorite($event)"
			(addWatchList)="handleAddWatchList($event)"
			style="display: block; max-width: 430px; width: 100%;">
		</app-movie-card>
	}
</div>	
