
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;background: none;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
//icons=============================================
.material-symbols-outlined {
  color: #545454;
  transition: color 0.15s ease-out 0s;
  &:hover{
	color: aliceblue;
  }
	font-variation-settings:
	'FILL' 1,
	'wght' 200,
	'GRAD' 0,
	'opsz' 24
}
//=====================================================
h3{
	font-weight: 700;
	margin-bottom: 15px;
}
 .locandina{
	position: relative;
	float: left;
	margin-right: 20px;
	height: 120px;
	box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}

.list {
  &__container {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 20px;
	width: 100%;
	flex-wrap: wrap;
}
  &__list {
	padding: 15px;
	min-width: 47vw;
	min-height: 185px;
	display: flex;
	gap: 20px;
	border-radius: 15px;
	border: 1px solid gray;
  }
  &__item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 120px;
  }
  &__button{
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #545454;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	transition: background-color 0.3s ease-out 0s;
	&:hover{
		background-color: #545454;
	}
  }
}
.poster{
	text-align: center;
}
.locandina.center{
	float: none;
	margin: 0;
}
.item-link{
	text-align: center;
   color: #545454;
	font-weight: 600;
	transition: color 0.3s ease-out 0s;
	&:hover{
		color: #1e1e1e;
	}
}
