
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;background: none;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.movie-list{
	padding: 0 15px;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	justify-items: center;
	position: relative;
	right: 0;
	top: 0;
	@media screen and (max-width: 435px) {
		grid-template-columns:  1fr;
		padding: 0;
	}
}
h3{
	font-weight: 700;
	margin-bottom: 15px;
}
 .locandina{
	position: relative;
	float: left;
	margin-right: 20px;
	height: 230px;
	box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}
.list {
  &__container {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 20px;
	width: 100%;
	flex-wrap: wrap;
}
  &__list {
	padding: 15px;
	min-width: 47vw;
	display: flex;
	gap: 20px;
	border-top: 1px solid gray;
  }
  &__item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 153px;
  }
  &__button{
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	transition: background-color 0.3s ease-out 0s;
	&-icon{
		font-weight: 400;
		color: #b43d3d;
		font-size: 25px;
		transition: all 0.3s ease-out 0s;
	}
	&:hover{
		background-color: #b43d3d;
		.list__button-icon{
			color: #fff;
		}
	}
  }
}

.poster{
	text-align: center;
}
.locandina.center{
	float: none;
	margin: 0;
}
.item-link{
	text-align: center;
   color: #545454;
	font-weight: 600;
	transition: color 0.3s ease-out 0s;
	&:hover{
		color: #1e1e1e;
	}
}
