
<p-sidebar [(visible)]="sidebarVisible" styleClass="custom-sidebar w-30rem">
	<ng-template pTemplate="body">
		<div class="aside-menu__container">
			<ul class="aside-menu__list">
				@for(link of links; track link) {
					<li class="aside-menu__item" routerLinkActive='active-link' [routerLinkActiveOptions]="{exact: true}">
						<a [routerLink]="link.url" class="text"><span><i [class]="link.icon" [style]="link.color"></i></span> {{link.name}}</a>
					</li>
				}
			</ul>
			<div class="aside-menu__item-interactions"><app-sorting></app-sorting></div>
			<div class="aside-menu__item-interactions"><app-filters-movie></app-filters-movie></div>
		</div>
	</ng-template>
</p-sidebar>
<button class="bar-button" (click)="sidebarVisible = true"><i class="pi pi-bars"></i></button>